requests>=2.31.0
langgraph-supervisor
langchain
langchain-openai
langgraph
python-dotenv
PyMuPDF
langchain-chroma
langchain-text-splitters
chromadb
langchain-community
rank_bm25
mcp
langchain-mcp-adapters
FastAPI
langchain-classic
finance-datareader